:root{
    --cor-primaria: #e0252e;
    --bg-claro: #fff;
    --logo-height: 100px;
    --header-height: 100px;
    --aside-width: 350px;
    --footer-height: 80px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MontSerrat', 'sans-serif';
}

.app{
    margin: 0;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows:
        var(--header-height)
        1fr
        var(--footer-height);
    grid-template-areas: 
        "logo header"
        "content content"
        "footer footer";
    height: 100vh;
    background-color: var(--bg-claro);
}

aside.logo{
    grid-area: logo;
}

header.header{
    grid-area: header;
}

main.content{
    grid-area: content;
}

footer.footer{
    grid-area: footer;
}