footer.footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px;
    background-color: var(--cor-primaria);
}

footer.footer span {
    color: var(--bg-claro);
}