aside.menu-area{
    display: flex;
    justify-content: flex-end;

}

.menu a{
    text-decoration:none;
    color: var(--bg-claro);
    padding: 5px 15px;
}

.menu a:hover{
    border-bottom: 2px solid var(--bg-claro);
}

.menu a .font-nav{
    font-weight: 600;
    font-family: 'Montserrat', 'sans-serif';
}

.menu-area .menu {
    display: flex;
    justify-content: flex-end;
}

